<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="travel.yj.instantnode.mapper.InstantNotePictureMapper" >
  <resultMap id="BaseResultMap" type="travel.yj.instantnode.bean.InstantNotePicture" >
    <id column="instant_note_picture_id" property="instantNotePictureId" jdbcType="INTEGER" />
    <result column="instant_note_id" property="instantNoteId" jdbcType="INTEGER" />
    <result column="picture_path" property="picturePath" jdbcType="VARCHAR" />

    <association property="instantNote" column="instant_note_id" select="travel.yj.instantnode.mapper.InstantNoteMapper.selectByPrimaryKey"></association>

  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_instant_note_picture
    where instant_note_picture_id = #{instantNotePictureId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="travel.yj.instantnode.bean.InstantNotePicture" useGeneratedKeys="true" keyProperty="instantNotePictureId">
    insert into tb_instant_note_picture (instant_note_picture_id, instant_note_id, 
      picture_path)
    values (#{instantNotePictureId,jdbcType=INTEGER}, #{instantNoteId,jdbcType=INTEGER}, 
      #{picturePath,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="travel.yj.instantnode.bean.InstantNotePicture" >
    update tb_instant_note_picture
    set instant_note_id = #{instantNoteId,jdbcType=INTEGER},
      picture_path = #{picturePath,jdbcType=VARCHAR}
    where instant_note_picture_id = #{instantNotePictureId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select instant_note_picture_id, instant_note_id, picture_path
    from tb_instant_note_picture
    where instant_note_picture_id = #{instantNotePictureId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select instant_note_picture_id, instant_note_id, picture_path
    from tb_instant_note_picture
  </select>
</mapper>