<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="travel.yj.instantnode.mapper.InstantNodeMapper" >
  <resultMap id="BaseResultMap" type="travel.yj.instantnode.bean.InstantNode" >
    <id column="instant_note_id" property="instantNoteId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="like_number" property="likeNumber" jdbcType="INTEGER" />
    <result column="is_accuse" property="isAccuse" jdbcType="BIT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modifited" property="gmtModifited" jdbcType="TIMESTAMP" />

    <association property="userInfo" column="user_id" select="travel.hk.userinfo.mapper.UserInfoMapper.selectByPrimaryKey"></association>
    
    <!--listInstantNotePicture 朋友圈对应的图片-->
    <collection property="listInstantNotePicture" column="instant_note_id" select="travel.yj.instantnode.mapper.InstantNotePictureMapper.selectByInstantNodeId"></collection>

    <!--listInstantNodeComment 朋友圈对应的评论-->
    <collection property="listInstantNodeComment" column="instant_note_id" select="travel.yj.instantnode.mapper.InstantNoteCommentMapper.selectByInstantNodeId"></collection>

  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_instant_note
    where instant_note_id = #{instantNoteId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="travel.yj.instantnode.bean.InstantNode" >
    <selectKey resultType="java.lang.Integer" keyProperty="instantNoteId" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_instant_note (instant_note_id, user_id, content, 
      location, like_number, is_accuse, 
      gmt_create, gmt_modifited)
    values (#{instantNoteId,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{location,jdbcType=VARCHAR}, #{likeNumber,jdbcType=INTEGER}, #{isAccuse,jdbcType=BIT}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModifited,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="travel.yj.instantnode.bean.InstantNode" >
    update tb_instant_note
    set user_id = #{userId,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      like_number = #{likeNumber,jdbcType=INTEGER},
      is_accuse = #{isAccuse,jdbcType=BIT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modifited = #{gmtModifited,jdbcType=TIMESTAMP}
    where instant_note_id = #{instantNoteId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select instant_note_id, user_id, content, location, like_number, is_accuse, gmt_create, 
    gmt_modifited
    from tb_instant_note
    where instant_note_id = #{instantNoteId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select instant_note_id, user_id, content, location, like_number, is_accuse, gmt_create, 
    gmt_modifited
    from tb_instant_note
  </select>
</mapper>